.Panel {
  text-align: left;
  opacity: 0.8;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.ToggleButton {
  .toggleIcon {
    width: 32px;
    padding: 5px;
  }
}
