.DatasetWMSLayersList {

  .Table{

  }

  .NameColum{
    min-width: 150px;
  }

  .SelectColumn{
    min-width: 50px;
  }

  .SelectedRow{
    background: rgba(0,0,0,.2);
  }

  table{
    width: 100%;
  }

  table tr th{
    background: #337ab7;
  }

  table tr td, table tr th{
    border: 1px solid #6B6B6B;
    padding: 5px;
  }
}
