{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "__PAVICS_NCWMS_PATH__" : false,
    "__PAVICS_PHOENIX_PATH__" : false,
    "__PAVICS_GEOSERVER_PATH__" : false,
    "__LOOPBACK_API_PATH__" : false,
    "__MAGPIE_HOST__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "max-len": [2, 180, 2],
    "space-in-parens": "off",
    "react/jsx-curly-spacing": "off",
    "react/jsx-indent": "off"
  }
}
