.Visualize {
  position: relative;

  .hidden {
    display: none;
  }

  .mapContainer {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .panel {
    margin: 3px 3px 0 3px;
  }

  .left {
    max-width: 60%;
    float: left;
    .panel {
      float: left;
    }
  }

  /*.bottom {
    max-width: 100%;
    float: bottom;
    margin: 15px;
    .panel {
      float: bottom;
      clear: right;
    }
  }*/

  .frontComponents {
    word-break: normal;
    /*opacity: (0.8);*/

    .topLeftComponents {
      position: fixed;
      z-index: 1000;
      top: 110px;
      left: 0;
    }
    .topRightComponents {
      position: fixed;
      z-index: 1000;
      top: 110px;
      right: 0;
      float: right;
    }
  }
}
