.Monitor {
  .agGrid {
    text-align: left;
    width: 100%;
    margin: 15px 0;
    height: 325px;
  }
}

:global {
  .ag-header-cell {
    text-align: left;
  }
  .ag-body-viewport {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .ag-row-odd {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .ag-row-even {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
}
