.Visualize {
  .searchCatalogComponent{
    position: fixed;
    margin: 20px 0 0 60px;
    z-index: 1000;
  }

  .searchCatalogResultsComponent{
    position: fixed;
    right: 0;
    margin: 20px 20px 0 60px;
    z-index: 1000;
  }

  .datasetDetailsComponent{
    position: fixed;
    right: 0;
    margin: 20px 20px 0 60px;
    z-index: 1000;
  }

  .overlappingBackground{
    word-break:break-all;
    opacity: 0.9;
    background: rgba(255,255,255,0.5);
  }

  .backgroundComponent{

  }
}
