.Visualize {
  position: relative;

  .mapContainer
  {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .left
  {
    max-width: 38%;
    float: left;
    margin: 15px;
  }

  .right
  {
    max-width: 56%;
    float: right;
    margin: 15px;
  }

  .frontComponents{
    word-break: normal;
    opacity: (0.8);

    .topLeftComponents{
      position: fixed;
      z-index: 1000;
      top: 110px;
      left: 0;
    }
    .topRightComponents{
      position: fixed;
      z-index: 1000;
      top: 110px;
      right: 0;
      float: right;
    }
  }
}
