.SearchCatalogResults {
  .DatasetTable{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .DatasetRow{
    border: 1px solid #DDD;
    width: 100%;
    text-align: left;
  }

  .DatasetRowNotSelected{
    padding: 5px;
  }

  .DatasetRowSelected{
    padding: 5px;
    background: #DDD;
  }

  .DatasetRowExpandButton{
    float: left;
  }

  .DatasetRowSelectButton{
    margin-left: 5px;
  }

  .DatasetRowTitle{
    //font-weight: bold;
    color: #000;
    margin-left: 10px;
  }

  .DatasetRowDetails{
    margin-left: 25px;
  }
}
