.TimeSlider {
  height:200px;
  width: 800px;

  .CurrentDateTime{

  }

  .SliderMonths{
    margin-top: 10px;
  }
  .SliderYears{
    margin-top: 20px;
  }

  .StepControls{
    margin-top: 80px;
  }

  .InlineFormGroup {
    margin: 0 3px;
  }
}
