.SearchCatalog{
  text-align: left;

  .searchCatalogComponent{
    margin: 20px 0 0 20px;
  }

  .overlappingBackground{
    word-break:break-all;
    background: rgba(255,255,255,0.8);
  }

  .togglePanel{
    width: 32px;
    font-size: 1.5em;
  }
}
