:global {
  @import "base";
  @import "pure";
  @import "~normalize.css/normalize";

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  h3{
    margin-top: 0px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @media (min-width: 1400px){
    .container {
      width: 1370px;
    }
  }

  .container{
    width: 100% !important;
  }

  .panel-body{
    padding: 5px;
  }

  #cesiumDiv {
    width: 100%;
    height: 100%;
  }

  .cesium-widget {
    position: relative;
  }

  .cesium-widget, .cesium-widget canvas {
    width: 100%;
    height: 100%;
  }

  ul li {
    text-align: left;
    list-style-type: none;
  }

  /* Openlayers overwrite, TODO: Shouldn't be here */
  .ol-zoom {
    top: auto !important;
    bottom: .5em !important;
  }

  .ol-control {
    /*padding: 0 !important;
    background-color: #FFF !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;*/
  }

}
