:global {
  @import "base";
  @import "~normalize.css/normalize";

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  h3{
    margin-top: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    zoom: 100%;
  }

  .btn, .input-group-btn .btn {
    padding: 8px 15px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @media (min-width: 1400px){
    .container {
      width: 1370px;
    }
  }

  .hidden {
    visibility: collapse;
  }

  .container{
    width: 100% !important;
  }

  .panel {
    background-color: inherit;
    color: #ffffff !important;
    .panel-heading {
      color: #ffffff !important;
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .panel-body{
      background-color: rgba(0, 0, 0, 0.3);
      padding: 5px;
    }
  }

  .notification-container {
    top: auto !important;
    bottom: 10px !important;
    right: 20px !important;
    width: 500px !important;
    padding: 0 !important;
  }

  #cesiumDiv {
    width: 100%;
    height: 100%;
  }

  .cesium-widget {
    position: relative;
  }

  .cesium-widget, .cesium-widget canvas {
    width: 100%;
    height: 100%;
  }

  ul li {
    text-align: left;
    list-style-type: none;
  }

  /* Openlayers overwrite, TODO: Shouldn't be here */
  /*.ol-zoom {
    top: auto !important;
    bottom: .5em !important;
  }*/

  .ol-control {
    /*padding: 0 !important;
    background-color: #FFF !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;*/
  }

  #map .ol-attribution{
    display: none;
  }

  #map .ol-mouse-position {
    top: auto !important;
    bottom: 8px !important;
    right: 25px !important;
    position: absolute;
    color: white;
    font-size: 15px;
  }

  #map .ol-panzoom {
    img {
      opacity: 0.8;
    }
    top: auto !important;
    bottom: 300px !important;
    left: auto !important;
    right: auto !important;
    margin: auto !important;
    background-color: transparent;
  }

  #map .ol-scale-line{
    top: auto !important;
    bottom: 70px !important;
    left: 40px !important;
    right: auto !important;
    margin: auto !important;
    background: rgba(0,0,0,0.6);
  }

  /*#map .ol-zoomslider:hover {
    background-color: rgba(255,69,0,0.3);
  }

  #map .ol-zoomslider-thumb {
    height: 15px;
    width: 15px;
    margin: 0;
    filter: none;
    background-color: rgba(255,69,0,0.6);
    border-radius: 20px;
  }
  #map a.ol-zoomslider-handle:hover {
    background-color: rgba(255,69,0,0.7);
  }*/

}
