.DatasetDetails {
  text-align: left;

  .DatasetTable{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .DatasetMetadatas{
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .DatasetTableResourceTitleColumn{
    min-width:150px;
  }

  .DatasetTableSizeColumn{
    min-width:80px;
  }

  .DatasetTableOpenDAPColumn{
    min-width:80px;
  }

  .DatasetTableHTTPColumn{
    min-width:80px;
  }

  .DatasetTableWMSColumn{
    min-width:80px;
  }

  table{
    width: 100%;
  }

  table tr th{
    background: #337ab7;
  }

  table tr td, table tr th{
    border: 1px solid #6B6B6B;
    padding: 5px;
  }

}
