.TimeSlider {
  height:330px;
  width: 700px;
  bottom: 0;
  text-align: left;
  opacity: 0.9;

  .CurrentDateTime{

  }

  .SliderMonths{

  }
  .SliderYears{
    margin-top: 20px;
  }

  .StepControls{
    margin-top: 20px;
  }

  .InlineFormGroup {
    margin: 0 3px;
  }
}
