.LayerSwitcher {
  h2, h3 {
    margin: 0;
    padding: 20px 10px 10px;
  }
  width: 100%;
  bottom: 0;
  text-align: left;
  opacity: 0.9;
  height:390px;
  min-height: 390px;
  .Tabs {
    height: 100%;
    width: 400px;
    .layers {
      padding-left: 40px;
    }
  }
}
