.PieMenu {
  /*position: absolute;*/
  bottom: 100px;
  left: 100px;
}
.CustomGlyphIcon{
  font-size: 50px;
  padding: 20px 0 0 0;
}
.IsOpen{
  background-color: rgba(0,0,0,1) !important
}

.radialnav {
  position: fixed;
  left: 182px;
  bottom: 110px;
  display: block;
  width: 65px;
  height: 65px;
  font: 500 14px/14px arial normal;
}
.radialnav .ellipsis {
  position: absolute;
  right: 40%;
  bottom: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #00A9B7;
  color: white;
  text-align: center;
  /*box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.44);*/
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.radialnav .ellipsis i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
}
.radialnav .ellipsis:active, .radialnav .ellipsis:hover {
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.44);
  background: #00A9B7;
}
.radialnav a {
  color: white;
  text-decoration: none;
}
.radialnav.active .ellipsis {
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.44);
  background: #00A9B7;
}
.radialnav.active .menu {
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.menu, .submenu {
  position: absolute;
  top: 50%;
  right: 8%;
  z-index: 0;
  width: 300px;
  height: 300px;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
  /*pointer-events: none;*/
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  transition: all .15s ease;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.menu > li:nth-of-type(1), .submenu > li:nth-of-type(1) {
  -moz-transform: rotate(0deg) skew(50deg);
  -ms-transform: rotate(0deg) skew(50deg);
  -webkit-transform: rotate(0deg) skew(50deg);
  transform: rotate(0deg) skew(50deg);
}
.menu > li:nth-of-type(2), .submenu > li:nth-of-type(2) {
  -moz-transform: rotate(35deg) skew(50deg);
  -ms-transform: rotate(35deg) skew(50deg);
  -webkit-transform: rotate(35deg) skew(50deg);
  transform: rotate(35deg) skew(50deg);
}
.menu > li:nth-of-type(2) > a, .submenu > li:nth-of-type(2) > a {
  background-color: #00C5DB;
}
.menu > li:nth-of-type(3), .submenu > li:nth-of-type(3) {
  -moz-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -webkit-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg);
}
.menu > li:nth-of-type(4), .submenu > li:nth-of-type(4) {
  -moz-transform: rotate(105deg) skew(50deg);
  -ms-transform: rotate(105deg) skew(50deg);
  -webkit-transform: rotate(105deg) skew(50deg);
  transform: rotate(105deg) skew(50deg);
}
.menu > li:nth-of-type(4) > a, .submenu > li:nth-of-type(4) > a {
  background-color: #00C5DB;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}
.menu > li:nth-of-type(5), .submenu > li:nth-of-type(5) {
  -moz-transform: rotate(140deg) skew(50deg);
  -ms-transform: rotate(140deg) skew(50deg);
  -webkit-transform: rotate(140deg) skew(50deg);
  transform: rotate(140deg) skew(50deg);
}
.menu > li, .submenu > li {
  position: absolute;
  bottom: 50%;
  right: 50%;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all 0.3s ease;
}
.menu > li a, .submenu > li a {
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  display: block;
  height: 14.5em;
  width: 14.5em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 0em;
  text-align: center;
  font-size: 1.18em;
  -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, color 0.3s;
  -moz-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
  background-color: #00A9B7;
  /*background-color: rgba(255, 255, 255, 0.2);*/
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
}
.menu > li a i, .submenu > li a i {
  padding: 20px 15px 0 0;
}
.menu > li a:active, .menu > li a:hover, .submenu > li a:active, .submenu > li a:hover {
  background-color: #212121;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 7px solid rgba(255, 255, 255, 1);
}
