.savedWisdoms {

  margin-top: 4rem;

  > ul {
    padding: 0;
    list-style: none;
    font-style: italic;
  }
}

/*.mapPanel{
  margin: 5px;
}*/

.overlappingComponent{
  position: fixed;
  margin: 20px 0 0 60px;
  z-index: 1000;
}

.overlappingBackground{
  word-break:break-all;
  opacity: 0.9;
  background: rgba(255,255,255,0.5);
}

